@media only screen and (min-width: 50px) {
    body {
        background-color: pink;
        font-size: 1.23vw;
        margin: 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    
      h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
    
      figure {
        width: calc(33.333% - 20px);
        box-sizing: border-box;
        margin-bottom: 20px;
      }
    
      /* Ensure only three figures in the left column */
      figure:nth-child(4),
      figure:nth-child(5) {
        width: calc(50% - 20px);
      }
    }
